<h2> Entra con tu usuario </h2>
<form method="post" action="">
    <label for="name">Nombre</label>
    <input name="name" id="name" type="text"/>
    <label for="password">Contraseña</label>
    <input name="password" id="password" type="password"/>
    <label for="rememberMe">Recuérdame</label>
    <input name="rememberMe" id="rememberMe" type="checkbox"/>
    <input type="submit"/>
</form>